<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Pedido</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nuevo_pedido.css') }}">
    <script src="{{ url_for('static', filename='js/nuevo_pedido.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/cargar_menu_web.js') }}" defer></script>

</head>
<body class="tabs-container">
    <div class="tabs">
        <div class="tab active-tab" onclick="openTab(event, 'Vista_nuevo_pedido')">Pedido</div>
        
    </div>

    <div id="Vista_nuevo_pedido" class="tab-content active">
        
    </div>



</body>
</html>
